In [3]:
import gtfs_isochrone
import pandas as pd

In [4]:
!pwd

/Users/benjamin/Desktop/gtfs-isochrone/notebooks

In [5]:
data = '../data/orleans/'
pd.read_csv(data + 'routes.txt').head()

,route_id,agency_id,route_short_name,route_long_name,route_type,route_color,route_text_color
0,ORLEANS:Line:11,chouette:Company:aa859eaf-3621-4480-8424-349a7...,11,GARE ORLEANS - PARADIS,3,8BCAAE,000000
1,ORLEANS:Line:12,chouette:Company:aa859eaf-3621-4480-8424-349a7...,12,GARE AUBRAIS - GRAND BOULAND,3,DA89B9,000000
2,ORLEANS:Line:13,chouette:Company:aa859eaf-3621-4480-8424-349a7...,13,ST HILAIRE - L ORME,3,F29FC5,000000
3,ORLEANS:Line:15,chouette:Company:aa859eaf-3621-4480-8424-349a7...,15,BELLES RIVES - LA SABLONNIERE,3,FFD444,000000
4,ORLEANS:Line:16,chouette:Company:aa859eaf-3621-4480-8424-349a7...,16,CROIX AUX CHATS - VAL DE LOIRE,3,F39769,000000